---
- name: Show that JWT auth is working
  hosts: localhost
  gather_facts: false
  connection: local

  tasks:
    - ansible.builtin.debug:
        msg: Workload identity fetched secret password {{ secret_password }}
