---
- name: Show that JWT auth is working
  hosts: localhost
  gather_facts: false
  connection: local

  tasks:
    - ansible.builtin.debug:
        msg: Using JWT auth fetched username {{ secret_username }} and password {{ secret_password }}
